# Version control
.git
.gitignore
.github
.gitlab-ci.yml

# Dependencies
node_modules
.pnp
.pnp.js
.yarn

# Testing
coverage
.nyc_output
test-results

# Next.js
.next
out

# Build
dist
build
storybook-static
*.tsbuildinfo

# Environment
.env*
!.env.example
!.env.template

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Debug
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Tools
Dockerfile
docker-compose*
.dockerignore
.eslintcache
.eslintignore
.prettierignore

# Documentation
README.md
LICENSE
docs
*.md

# Cache
.turbo
.npm
.cache

# Local env files
.env*.local

# Vercel
.vercel

# TypeScript
next-env.d.ts 